/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
body {
    overflow-x: hidden;
}

nav {
    z-index: 2;
    height: 80px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    float: right;
    margin-right: 20px;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    z-index: 2;
}

nav ul li a {
    color: #BAB0EA;
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 2;
}

a.active,
a:hover {
    background: #bdbdbde7;
    transition: .5s;
}

.checkbtn {
    font-size: 20px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    position: relative;

}

#check {
    display: none;
    z-index: 2;
}

#logo {
    z-index: 2;
    height: 80px;
    width: 150px;
    position: absolute;
    margin-top: 0px;
}

@media (max-width: 952px) {
    .navbar-brand {
        height: 82px;
        width: 152px;
        padding-left: 50px;
        z-index: 2 !important;
    }

    nav ul li a {
        font-size: 16px;
        z-index: 2;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block !important;
        z-index: 2 !important;
    }
    #logo {
        position: absolute;
        left: 41px;
        top: 21px;
    }
    footer .social_icon {
        position: relative;
        top: 468px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
        filter: drop-shadow(5px 5px 5px rgb(10, 10, 10));
    }
    nav ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #22003D;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2 !important;
    }

    .navbar-brand {
        height: 82px;
        width: 152px;
        padding-left: 10px;
        z-index: 2 !important;
    }

    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
        z-index: 2 !important;
    }

    nav ul li a {
        font-size: 16px;
        z-index: 2;
    }

    a:hover,
    a.active {
        background: none;
        color: #360a36;
        z-index: 2;
    }

    #check:checked~ul {
        left: 0;
        z-index: 2;
    }

}

a.menu {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border-radius: 20px;
    z-index: 2;
}




.neon {
    font-family: 'Quicksand', sans-serif;
    color: #020737;
    text-shadow: 0 0 3vw #B091D4;
}


.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {

    0%,
    100% {
        text-shadow: 0 0 1vw #B091D4, 0 0 3vw #B091D4, 0 0 10vw #B091D4, 0 0 10vw #B091D4, 0 0 .4vw #6FB7DD, .5vw .5vw .1vw #6FB7DD;
        color: #020737;
    }
}

.paralax {
    position: absolute;
    height: 100%;
}

.paralax-item {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.p-item1 {
    background: url("bg_2.jpg") center/cover no-repeat;
}

.p-item3 {
    background: url("hiker4.png") bottom/100% no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;

}

.container {
    position: relative;
    z-index: 0;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100vh;

}

.content-header {
    font-family: 'Quicksand', sans-serif;
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-right: -20%;

}

.content-header h1 {
    font-size: 120px;
    font-weight: 600;
    color: white;
    margin-bottom: -40px;

}

.content-header h2 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.content {
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    height: 900px;
    margin-right: 40px;
    background-color: none;
    color: white;
    position: center;
    font-family: 'Quicksand', sans-serif;

}

.content ul {
    list-style: none;

}

.loader {
    position: absolute;
    top: -8%;
    left: 54%;
    width: 320px;
    color: #532E98 !important;
    font-size: 90px !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    margin-bottom: 15% !important;
}

.sub {
    position: relative;
    bottom: 60px;
    font-size: 27px !important;
}


@media (min-width:950px)and(max-width :1600px) {

    .loader {
        position: absolute;
        top: -5%;
        font-size: 100px !important;

    }

    .sub {
        position: relative;
        bottom: 60px;
        font-size: 15px !important;
    }

   
}
}

@media (min-width:760px)and(max-width :949px) {

    .loader {
        position: absolute;
        top: -5%;
        text-align: left !important;
        font-size: 60px !important;
    }

    .sub {
        font-size: 15px !important;
    }
}

@media (min-width:746px)and(max-width :760px) {

    .loader {
        position: absolute;
        top: -5%;
        font-size: 50px !important;

    }

    .sub {
        font-size: 15px !important;

    }
}

@media (max-width :745px) {

    .loader {
        position: absolute;
        top: -7%;
        left: 55%;
        font-size: 53px !important;
    }

    .sub {
        font-size: 15px !important;
        position: relative;
        right: 5%;

    }
}

@media (max-width :345px) {

    .loader {
        position: absolute;
        top: -5%;
        left: 70%;
        font-size: 35px !important;
    }

    .sub {
        font-size: 15px !important;
        position: relative;
        left: 6%;
        bottom: 10% !important;
    }
}

.container {
    font: size 26px;
    width: 80%;

}



@media (max-width: 767px) {

    /* Mobile & Tablet Rules */
    .visible-xs {
        display: block !important
    }

    .hidden-xs {
        display: none !important
    }

    .responsive-paragraph {
        font-size: 17px !important;
        color: white;
        letter-spacing: 0.6px;
        margin: 0px 0px;
        width: 70%;
        text-align: left !important;
        margin-right: 20%;
        position: relative;
        top: 20% !important;
        margin-bottom: 5%;

    }

}


@media (min-width: 768px) and (max-width: 991px) {

    /* Small Screen Rules */
    .container {
        width: 750px;
    }

    .visible-sm {
        display: block !important
    }

    .hidden-sm {
        display: none !important
    }

    .responsive-paragraph {
        text-align: center;
        font-size: 25px !important;
        color: white;
        letter-spacing: 1.5px;
        text-align: left;
        width: 85%;
        margin-right: 20%;

    }


}

@media (min-width: 992px) and (max-width: 1199px) {

    /* Medium Screen Rules */
    .container {
        width: 970px;
    }

    .visible-md {
        display: block !important
    }

    .hidden-md {
        display: none !important
    }

    .responsive-paragraph {
        font-size: 24px !important;
        color: white;
        letter-spacing: 1.1px;
        text-align: left;
        width: 85%;
        margin-right: 20%;

    }


}

@media (min-width: 1200px) {

    /* Large Screen Rules */
    .container {
        width: 1170px;
    }

    .visible-lg {
        display: block !important
    }

    .hidden-lg {
        display: none !important
    }

    .container {
        font-size: 25px !important;
        color: white;
        letter-spacing: 0.6px;
        width: 90%;
        padding-left: 80px;
        text-align: left;
        margin-right: 20%;

    }
}

footer {

    position: relative;
    top: 250px;
    width: 100%;
    min-height: 100px;
    padding: 341px 508px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10px;
    padding-top: 50px;
    padding-bottom: 76px;
}

footer {
    position: relative;
    width: 100%;
    /* background: #0e0e7dec; */
    /* min-height: 100px; */
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 3
}

footer .social_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    filter: drop-shadow(5px 5px 5px rgb(10, 10, 10));
}

footer .social_icon li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2.5em;
    color: rgb(255, 253, 253);
    margin: 0 20px;
    display: inline-block;
    transition: 0.5s;
}


footer .social_icon li a:hover {
    transform: translateY(-10px);
    color: #532E98 !important;
    border-radius: 7px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    opacity: 1;
}


/* footer  li a {
    font-size: 1.2em;
    color: #532E98;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
  } */

a.active,
a:hover {
    background: #bdbdbde7;
    transition: .5s;
}